## Como as informações são apenas para teste local, irei deixar com os valores expostos. Mas em uma
## aplicação real, eu não deixaria elas assim.

DB_HOST=localhost
DB_PORT=5432
DB_USER=orderfy
DB_PASSWORD=orderfy123
DB_NAME=orderfy

PORT=3000

JWT_SECRET=orderfy_jwt_secret_key
JWT_EXPIRES_IN=24h